extends ../../layouts/default.pug

block main
  if (item.title)
    h1(class="mb-4") #{item.title}
  if (item.price)
    div(class="mb-4") Giá: <b>#{item.price}$</b>

  if (item.discountPercentage)
    div(class="mb-4") Giảm giá: <b>#{item.discountPercentage}%</b>

  if (item.stock)
    div(class="mb-4") Còn lại: <b>#{item.stock}</b>

  if (item.thumbnail)
    div(class="mb-4")
      img(
        src=item.thumbnail
        style="width: 100px"
      )

  if (item.status)
    div(class="mb-4")
      span Trạng thái:
      if (item.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (item.position)
    div(class="mb-4") Vị trí: <b>#{item.position}</b>

  if (item.description)
    div(class="mb-4") #{item.description}